table
{
  width: 40%;
  border: solid 3px black;
}

caption
{
  font-size: 30px;
  font-weight: bolder;
  color: green;
}

th
{
  font-size: 20px;
  font-weight: bold;
  color: brown;
  border: solid 3px black;
}

.col1
{
  text-align: center;
  color: red;
  border: solid 3px black;
}

.col2
{
  text-align: center;
  color: blue;
  border: solid 3px black;
}