div
{
	font-family:sans-serif;
	font-size:20px;
	width:650px;
	text-align:justify;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	border-bottom:5px dashed red;
	border-top:5px dashed red;
	border-left:8px dotted blue;
	border-right:8px dotted blue;
}

img
{
	float:left;
	padding:20px;
	border:2px double green;
	margin-top:20px;
}
