table
{
	background-color:cyan;
	border:5px double red;
	padding:5px;
}
td
{
	padding-right:15px;
	padding-left:15px;
	padding-top:3px;
	padding-bottom:3px;
	border:3px solid black;
}

.verde
{
	background-color:green;
}

.amarillo
{
	background-color:yellow;
}

.rojo
{
	background-color:red;
}

.marron
{
	background-color:brown;
}