USE [master]
GO
/****** Object:  Database [emp_dep]    Script Date: 06/02/2018 19:44:38 ******/
CREATE DATABASE [emp_dep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'emp_dep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\emp_dep.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'emp_dep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\emp_dep_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [emp_dep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [emp_dep]
GO
/****** Object:  Table [dbo].[dep]    Script Date: 06/02/2018 19:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dep](
	[dept_no] [int] IDENTITY(10,10) NOT NULL,
	[dnombre] [varchar](30) NOT NULL,
	[loc] [varchar](30) NOT NULL,
 CONSTRAINT [pk_dept_no] PRIMARY KEY CLUSTERED 
(
	[dept_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[emp]    Script Date: 06/02/2018 19:44:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[emp](
	[emp_no] [numeric](4, 0) NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[oficio] [varchar](20) NOT NULL,
	[dir] [numeric](4, 0) NULL,
	[fecha_alt] [date] NOT NULL,
	[salario] [money] NOT NULL,
	[comision] [money] NULL,
	[dept_no] [int] NOT NULL,
 CONSTRAINT [pk_emp_no] PRIMARY KEY CLUSTERED 
(
	[emp_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[emp] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_alt]
GO
ALTER TABLE [dbo].[emp]  WITH CHECK ADD  CONSTRAINT [fk_dept_no] FOREIGN KEY([dept_no])
REFERENCES [dbo].[dep] ([dept_no])
GO
ALTER TABLE [dbo].[emp] CHECK CONSTRAINT [fk_dept_no]
GO
ALTER TABLE [dbo].[emp]  WITH CHECK ADD  CONSTRAINT [fk_dir] FOREIGN KEY([dir])
REFERENCES [dbo].[emp] ([emp_no])
GO
ALTER TABLE [dbo].[emp] CHECK CONSTRAINT [fk_dir]
GO
ALTER TABLE [dbo].[emp]  WITH CHECK ADD  CONSTRAINT [ck_oficio] CHECK  (([oficio]='vendedor' OR [oficio]='empleado' OR [oficio]='presidente' OR [oficio]='analista' OR [oficio]='director'))
GO
ALTER TABLE [dbo].[emp] CHECK CONSTRAINT [ck_oficio]
GO
USE [master]
GO
